<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>autosavedContentsBookmark</key>
		<data>
		Ym9va+ADAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAA3AIAAAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAE5lbmdlbgAABwAAAAEB
		AABMaWJyYXJ5ABQAAAABAQAAQXV0b3NhdmUgSW5mb3JtYXRpb24iAAAAAQEA
		AFVuc2F2ZWQgWGNvZGUgRG9jdW1lbnQueGN3b3Jrc3BhY2UAABQAAAABBgAA
		BAAAABQAAAAkAAAANAAAAFAAAAAIAAAABAMAANWTAgAAAAAACAAAAAQDAABJ
		SAkAAAAAAAgAAAAEAwAATkgJAAAAAAAIAAAABAMAAOBrDgAAAAAACAAAAAQD
		AACmubUBAAAAABQAAAABBgAAmAAAAKgAAAC4AAAAyAAAANgAAAAIAAAAAAQA
		AEG/aslfAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAA
		BAMAAAMAAAAAAAAABAAAAAMDAAD2AQAACAAAAAEJAABmaWxlOi8vLwwAAAAB
		AQAATWFjaW50b3NoIEhECAAAAAQDAAAAEIgqOgAAAAgAAAAABAAAQbnmyGcA
		AAAkAAAAAQEAAEM1OTZFMTFBLUYyQUEtMzQ0NC1CQTE1LTQxNkIwREIxRTI1
		RRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
		AAAAAAEFAADeAAAAAQIAADQ3MDg3NmYxYWM5YzBkNTc0ZDY1NTk1MzlhOTgx
		ZGM5MzVkMGQxMDI7MDAwMDAwMDA7MDAwMDAwMDA7MDAwMDAwMDAwMDAwMDAy
		MDtjb20uYXBwbGUuYXBwLXNhbmRib3gucmVhZC13cml0ZTswMDAwMDAwMTsw
		MTAwMDAwNDswMDAwMDAwMDAxYjViOWE2Oy91c2Vycy9uZW5nZW4vbGlicmFy
		eS9hdXRvc2F2ZSBpbmZvcm1hdGlvbi91bnNhdmVkIHhjb2RlIGRvY3VtZW50
		Lnhjd29ya3NwYWNlAAAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAfAAAAAAA
		AAAFEAAA6AAAAAAAAAAQEAAAFAEAAAAAAABAEAAABAEAAAAAAAACIAAA4AEA
		AAAAAAAFIAAAUAEAAAAAAAAQIAAAYAEAAAAAAAARIAAAlAEAAAAAAAASIAAA
		dAEAAAAAAAATIAAAhAEAAAAAAAAgIAAAwAEAAAAAAAAwIAAA7AEAAAAAAAAB
		wAAANAEAAAAAAAARwAAAFAAAAAAAAAASwAAARAEAAAAAAACA8AAA9AEAAAAA
		AAA=
		</data>
		<key>isExpendable</key>
		<true/>
		<key>recordDate</key>
		<date>2017-09-14T14:48:20Z</date>
		<key>uniquingNumber</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
